fastapi==0.115.12
uvicorn==0.34.0
swisseph==0.0.0.dev1
geopy==2.4.1
pydantic==2.11.3
python-dotenv==1.1.0
requests==2.32.3
langgraph==0.3.20
langchain==0.3.26
langchain-openai==0.3.10
langchain-community==0.3.25

